@charset "UTF-8";

@keyframes opacity0-1 {
	100% {
		opacity: 1;
	}
}

@keyframes scale0-1 {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes scale0-1screen {
	0% {
		transform: scale(0);
		opacity: 0;
		mix-blend-mode: screen;
		-webkit-mix-blend-mode: screen;
	}

	100% {
		transform: scale(1);
		opacity: 1;
		mix-blend-mode: screen;
		-webkit-mix-blend-mode: screen;
	}
}

@keyframes opacity0-2 {
	60% {
		opacity: 0.6;
	}
}

/* Loading */
@keyframes txt-move {
	0% {
		content: '';
	}

	25% {
		content: '·';
	}

	50% {
		content: '··';
	}

	100% {
		content: '···';
	}
}

/*放大缩小*/
@keyframes bigBtn1-2 {
	50% {
		transform: scale(1.2);
	}
}

@keyframes bigBtn1-1 {
	50% {
		transform: scale(1.1);
	}
}

@keyframes bigAnimt {
	0% {
		opacity: 0;
		transform: scale(3);
	}

	40% {
		opacity: 1;
		transform: scale(0.6);
	}

	65% {
		transform: scale(1.2);
	}

	85% {
		transform: scale(0.9);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

/* 跳动 */
@keyframes breathe {
	0% {
		transform: scale(.99);
	}

	50% {
		transform: scale(1.03);
	}

	100% {
		transform: scale(.99);
	}
}

/* 若隐若现 */
@keyframes loom {
	0% {
		opacity: 0;
	}

	25% {
		opacity: 0.5;
	}

	50% {
		opacity: 1;
	}

	75% {
		opacity: 0.5;
	}

	100% {
		opacity: 0;
	}
}

/* 闪烁 */
@keyframes flicker {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* 渐现 */
@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

/*气泡类*/
@keyframes bubble0 {

	0%,
	30% {
		opacity: 0;
		transform: translate(-150px, 80px) scale(0.1);
	}

	70%,
	100% {
		opacity: 1;
		transform: scale(1) translate(0px, 0px);
	}
}

/**旋转**/
@keyframes rotateAnimate {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(10deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

/**晃动- 间歇左右晃动效果**/
@keyframes wobble {

	0%,
	65% {
		opacity: 1;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(6deg);
		transform: rotate(6deg);
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(-6deg);
		transform: rotate(-6deg);
	}

	80% {
		opacity: 1;
		-webkit-transform: rotate(6deg);
		transform: rotate(6deg);
	}

	85% {
		opacity: 1;
		-webkit-transform: rotate(-6deg);
		transform: rotate(-6deg);
	}

	90% {
		opacity: 1;
		-webkit-transform: rotate(6deg);
		transform: rotate(6deg);
	}

	95% {
		opacity: 1;
		-webkit-transform: rotate(-6deg);
		transform: rotate(-6deg);
	}

	100% {
		opacity: 1;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

/**缩放- 间歇缩放效果**/
@keyframes wobbleZoom {

	0%,
	65% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	70% {
		opacity: 1;
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}

	75% {
		opacity: 1;
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}

	80% {
		opacity: 1;
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}

	85% {
		opacity: 1;
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}

	90% {
		opacity: 1;
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}

	95% {
		opacity: 1;
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes wobbleBtn {

	0%,
	80% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	95% {
		opacity: 1;
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

/**位移**/
@mixin translate($x: 0, $y: 0) {
	-webkit-transform: translate($x, $y);
	-moz-transform: translate($x, $y);
	-ms-transform: translate($x, $y);
	-o-transform: translate($x, $y);
	transform: translate($x, $y);
}

/**过度**/
@mixin transition($t, $dt: 0s, $s: ease-out) {
	-webkit-transition: all $t $dt $s;
	-moz-transition: all $t $dt $s;
	-o-transition: all $t $dt $s;
	transition: all $t $dt $s;
}

/**缩放(倍数)**/
@mixin scale($n) {
	-webkit-transform: scale($n);
	-moz-transform: scale($n);
	-ms-transform: scale($n);
	-o-transform: scale($n);
	transform: scale($n);
}

/**旋转**/
@mixin rotateX($deg) {
	-webkit-transform: rotateX($deg);
	-moz-transform: rotateX($deg);
	-ms-transform: rotateX($deg);
	-o-transform: rotateX($deg);
	transform: rotateX($deg);
}

@mixin rotateY($deg) {
	-webkit-transform: rotateY($deg);
	-moz-transform: rotateY($deg);
	-ms-transform: rotateY($deg);
	-o-transform: rotateY($deg);
	transform: rotateY($deg);
}

@mixin rotateZ($deg) {
	-webkit-transform: rotateZ($deg);
	-moz-transform: rotateZ($deg);
	-ms-transform: rotateZ($deg);
	-o-transform: rotateZ($deg);
	transform: rotateZ($deg);
}

/*过渡入场动画*/
@mixin op {
	opacity: 0;
}

@mixin up {
	opacity: 0;
	@include translate(0, 100px);
}

@mixin down {
	opacity: 0;
	@include translate(0, -100px);
}

@mixin right {
	opacity: 0;
	@include translate(-100px, 0);
}

@mixin left {
	opacity: 0;
	@include translate(100px, 0);
}

@mixin upLeft {
	opacity: 0;
	@include translate(100px, 100px);
}

@mixin upRight {
	opacity: 0;
	@include translate(-100px, 100px);
}

@mixin downRight {
	opacity: 0;
	@include translate(-100px, -100px);
}

@mixin downLeft {
	opacity: 0;
	@include translate(100px, -100px);
}

@mixin cur($i, $j: 0s) {
	opacity: 1;
	@include translate(0, 0);
	@include transition($i, $j);
}

@mixin scalebig {
	opacity: 0;
	@include scale(0.1);
}

@mixin scalelittle {
	opacity: 0;
	@include scale(10);
}

@mixin scalecur($i, $j) {
	opacity: 1;
	@include scale(1);
	@include transition($i, $j);
}

@mixin rotateY {
	opacity: 0;
	@include rotateY(180deg);
}

@mixin rotateYcur($i, $j) {
	opacity: 1;
	@include rotateY(0deg);
	@include transition($i, $j);
}

/* 贴对联 */
@keyframes pasteR {
	0% {
		opacity: 0;
		transform: rotate3d(1, 1, 0, 60deg);
	}

	25% {
		opacity: 0.25;
		transform: rotate3d(1, 1, 0, 45deg);
	}

	50% {
		opacity: 0.5;
		transform: rotate3d(1, 1, 0, 30deg);
	}

	75% {
		opacity: 0.75;
		transform: rotate3d(1, 1, 0, 15deg);
	}

	100% {
		opacity: 1;
		transform: rotate3d(1, 1, 0, 0deg);
	}
}

@keyframes pasteL {
	0% {
		opacity: 0;
		transform: rotate3d(1, 0, 1, 60deg);
	}

	25% {
		opacity: 0.25;
		transform: rotate3d(1, 0, 1, 45deg);
	}

	50% {
		opacity: 0.5;
		transform: rotate3d(1, 0, 1, 30deg);
	}

	75% {
		opacity: 0.75;
		transform: rotate3d(1, 0, 1, 15deg);
	}

	100% {
		opacity: 1;
		transform: rotate3d(1, 0, 1, 0deg);
	}
}

/* 鱼进场 */
@keyframes econfish {
	0% {
		opacity: 0;
		// transform: translate3d(800px, -900px, -600px) rotate(-15deg) scale(0.3);
		transform: translate(800px, -900px) rotate(-15deg) scale(0.3);
	}

	100% {
		opacity: 1;
		// transform: translate3d(10px, 10px, 10px) rotate(0deg) scale(1);
		transform: translate(0px, 0px) rotate(0deg) scale(1);
	}
}

/* 鱼游动 */
@keyframes fishSwim {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(-2deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

/* 水花 */
@keyframes water {
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

/* 水上下 */
@keyframes waterUpDown {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0px);
	}
}

/* 卷轴 */
@keyframes spooler {
	0% {
		width: 173px;
	}

	25% {
		width: 276px;
	}

	50% {
		width: 379px;
	}

	75% {
		width: 482px;
	}

	100% {
		width: 585px;
	}
}

@-webkit-keyframes twinkling {
	0% {
		opacity: 0.8;
		filter: alpha(opacity=80);
		-webkit-transform: scale(1);
	}

	50% {
		opacity: 1;
		filter: alpha(opacity=100);
		-webkit-transform: scale(1.12);
	}

	100% {
		opacity: 0.8;
		filter: alpha(opacity=80);
		-webkit-transform: scale(1);
	}
}

@keyframes twinkling {
	0% {
		opacity: 0.8;
		filter: alpha(opacity=80);
		-webkit-transform: scale(1);
	}

	50% {
		opacity: 1;
		filter: alpha(opacity=100);
		-webkit-transform: scale(1.12);
	}

	100% {
		opacity: 0.8;
		filter: alpha(opacity=80);
		-webkit-transform: scale(1);
	}
}