@charset "utf-8";
/*
 *颜色变量;
 */
$white-color:#fff;
$balck-color:#000;
$gray-color:#5a5a5a;
$grayc-color:#ccc;
$gray3c-color:#3c3c3c;
$gray3-color:#333;
$gray6-color:#666;
$gray9-color:#999;
$red-color:red;
$windRed-color:#e20606;
$lightRed-color:#d82759;
$deepBlue-color:#1347ee;
$york-blue:#0012d8;
$lightBlue-color:#00b1fb;
$hisenseGreen-color:#009ea1;
$hGreen-color:#01b5b7;
$lightGreen-color:#02fe5b;
$green-color:#104b25;
$yellow-color:#fdee04;
$lightYellow-color:#fafd04;
$purple-color:purple;
$lightPurple-color:#d453f4;
$pink-color:pink;
$rili-blue:#BDDDF3;
$rili_cblue:#32a3fa;
/*
 *字大小变量;
 */
$fontSize12:12px;
$fontSize14:14px;
$fontSize16:16px;
$fontSize18:18px;
$fontSize20:20px;
$fontSize22:22px;
$fontSize24:24px;
$fontSize26:26px;
$fontSize28:28px;
$fontSize30:30px;
$fontSize32:32px;
$fontSize34:34px;
$fontSize36:36px;
$fontSize38:38px;
$fontSize40:40px;
