.load{ background:#000;z-index:1000;}
.load{width:100vw; height:100vh; position:absolute; left:50%; top:50%; -webkit-transform-origin:0 0; -webkit-transform:rotate(0deg) translate(-50%,-50%); }
.loadgif{ background:url(../img/loading.gif) no-repeat center center; width:280px; height:306px; position:absolute; left:50%; margin-left:-140px; top:50%; margin-top:-246px;}
.loadgif p{}
.loadgif p{}
.load .myload {
    text-align: center;
    width: 100px;
    height: 300px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    top: 50%;
    margin-top: -280px;
}

.load .myload span {
    display: inline-block;
    width: 10px;
    background: #bf0007;
    position: absolute;
    bottom: 0;
}

.load .myload span:nth-child(1) {
    height: 0;
    left: 0;
    -webkit-animation: s1 2s 0s infinite;
}

.load .myload span:nth-child(2) {
    height: 0;
    left: 20px;
    -webkit-animation: s1 2s .2s infinite;
}

.load .myload span:nth-child(3) {
    height: 0;
    left: 40px;
    -webkit-animation: s1 2s .4s infinite;
}

.load .myload span:nth-child(4) {
    height: 0;
    left: 60px;
    -webkit-animation: s1 2s .6s infinite;
}

.load .myload span:nth-child(5) {
    height: 0;
    left: 80px;
    -webkit-animation: s1 2s .8s infinite;
}

@-webkit-keyframes s1 {
    50% {
        height: 80px;
    }
}

#loofd {
    width: 100px;
    height:40px;
    line-height: 40px;
    font-size:30px;
    color:white;
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    margin-top: 30px;
    margin-left: -50px;
}

/**音乐**/
.musiced{  position:absolute; right:30px; top:30px; z-index:80; opacity:0.8;}
.msyuddtd{background:url(../images/musice.png) no-repeat center center; width:54px; height:54px;}
.kuddtz{animation: kdd1 2s infinite linear}
.bigyf{ background:url(../images/yid1.png) no-repeat center center; width:25px; height:53px; position:absolute; left:0px; top:-80px;animation: dd1 2s infinite}
.smyf{ background:url(../images/yid2.png) no-repeat center center; width:12px; height:30px; position:absolute; right:0px; top:-30px;animation: dd1 1.5s infinite}
@keyframes dd1{
  0%{ transform: translateY(0px) scale(0.6); opacity:0.6;}
  100% {transform: translateY(-50px) scale(0.6); opacity:0;}
}
@keyframes kdd1{
  0%{ transform: rotate(0deg)}
  100% {transform: rotate(360deg);}
}